{erl_opts, [debug_info]}.
{deps, []}.

%%-------------------------------------------------------------------
%% GPB
%%-------------------------------------------------------------------

{erl_opts, [{i, "./_build/default/plugins/gpb/include"}]}.

{plugins, [
    {rebar3_gpb_plugin, "2.9.0" }
]}.

{gpb_opts, [{i, "protos"}]}.

{provider_hooks,
 [{pre, [
         {compile, {protobuf, compile}},
         {clean, {protobuf, clean}}
        ]}
 ]}.

